.error-container {
  display: block;
  text-align: center;
  padding: 1em;
  background: rgba(255, 0, 0, .1);
  border: 1px dotted red;
  max-width: 40em;
  position: relative;
  margin: auto;
  margin-top: 2em;
}
